.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  .container-fluid .registration{
    display: none;
  }
  #check:checked ~ .registration{
    display: block;
  }
  #check:checked ~ .login{
    display: none;
  }
  #check{
    display: none;
  }
  label {
    cursor: pointer;
  }
  label:hover {
    text-decoration: underline;
  }
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }
